<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        お疲れさまです、
        <%= link_to "#{current_user.name}さん", root_path, class: :greeting__link%>
      </div>
      <div>
        会員番号 xxx
      </div>
      <div>
        <p>
          成績 xランク カリスマ xxx位/yyy人
        </p>
        <p>
          あと zzzポイントでxxランク
        </p>
      </div>
      <div>
        メソッド問題 xx%回答済
      </div>
      <div>
        スタッフ実績 音響 照明 ライブビューイング カメラ
      </div>
      <div>
        俳優ページの作成・編集
      </div>


    <% end %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
    </div>
  </div>
  
</main>
